extends ../layout

block content
    h1.text-center #{title} 
    .container.d-flex.justify-content-center.align-items-center
        form(action="/auth/login" method="POST" class="mt-4" style="width: 400px;") 
            .mb-3
                label(for="email" class="form-label") Email 
                input#email.form-control(type="text" name="email" placeholder="Enter your email" required) 
            .mb-3
                label(for="password" class="form-label") Password
                input#password.form-control(type="text" name="password" placeholder="Enter your password" required) 
            .mb-3 
                if error 
                    div.alert.alert-danger(role="alert")
                        = error
            button.btn.btn-primary(type="submit") Login
            a.btn.btn-secondary.ms-2(href="/auth/register") Register  
